<div class="section-header">
    <h1>Edit User</h1>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4><i class="fas fa-user-tie"></i> User Information</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="editUser" (ngSubmit)="updateUser()">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input  type="text" 
                            class="form-control" 
                            formControlName="name" 
                            placeholder="Insert Your Name Here...."
                            [class.is-invalid]="name.invalid &&
                                                name.touched">
                    <div *ngIf="name.invalid && name.touched">
                      <small *ngIf="name.errors?.required" class="text-danger">Name Required</small>
                      <small *ngIf="name.errors?.minlength" class="text-danger">Name Must Be Minimum 4 Character</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input  type="email" 
                            formControlName="email" 
                            class="form-control" 
                            placeholder="Inser Your Email Here...."
                            [class.is-invalid]="email.invalid &&
                                                email.touched">
                    <div *ngIf="email.invalid && email.touched">
                      <small *ngIf="email.errors?.required" class="text-danger">Email Required</small>
                      <small *ngIf="email.errors?.email" class="text-danger">Email Must be Valid</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Role User</label>
                    <select formControlName="role" 
                            class="form-control"
                            [class.is-invalid]="role.invalid &&
                                                role.touched">
                      <option value="" selected disabled>Choose Role</option>
                      <option value="{{ role.id }}" *ngFor="let role of Roles">{{ role.name }}</option>
                    </select>
                    <div *ngIf="role.invalid && role.touched">
                      <small *ngIf="role.errors?.required" class="text-danger">Role Required</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label>Password</label>
                  <div class="input-group mb-3">
                    <input  [type]="show_password ? 'text' : 'password'" 
                            formControlName="password" 
                            class="form-control" 
                            placeholder="Insert Your password"
                            [class.is-invalid]="password.invalid &&
                                                password.touched"/>
                    <div class="input-group-append">
                      <a class="btn btn-light" (click)="showPassword()" style="cursor: pointer;">
                        <i *ngIf="!show_password" class="fas fa-eye"></i>
                        <i *ngIf="show_password" class="fas fa-eye-slash"></i>
                      </a>
                    </div>

                    <div class="col-md-12" *ngIf="password.invalid && password.touched">
                      <small *ngIf="password.errors?.minlength" class="text-danger">Password Must Be Minimum 8 Character</small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Password Confirmation</label>
                    <div class="input-group mb-3">
                    <input  [type]="show_confirm ? 'text' : 'password'" 
                            formControlName="password_confirmation" 
                            class="form-control" 
                            placeholder="Inset Your Password Again...."
                            [class.is-invalid]="password_confirmation.invalid &&
                                                password_confirmation.touched"/>
                    <div class="input-group-append">
                      <a class="btn btn-light" (click)="showConfirm()" style="cursor: pointer;">
                        <i *ngIf="!show_confirm" class="fas fa-eye"></i>
                        <i *ngIf="show_confirm" class="fas fa-eye-slash"></i>
                      </a>
                    </div>          

                    <div class="col-md-12" *ngIf="password_confirmation.invalid && password_confirmation.touched">
                      <small *ngIf="password_confirmation.errors?.mustMatch" class="text-danger">Passwords Not match</small>
                    </div>                    
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-icon icon-right btn-primary"><i class="far fa-save"></i> Save</button>
                &nbsp;
                <a routerLink="/{{prefix}}/users" class="btn btn-icon icon-right btn-light"><i class="fas fa-arrow-circle-left"></i> Cancel</a>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>