<div class="section-header">
    <h1>Create Role</h1>
</div>

<form [formGroup]="addRole" (ngSubmit)="createRole()">
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name</label>
        <input  type="text" 
                id="name" 
                pInputText 
                placeholder="Insert role name here..." 
                class="form-control" 
                formControlName="name"
                [class.is-invalid]="name.invalid &&
                                    name.touched">   
        <div *ngIf="name.invalid && name.touched">
          <small *ngIf="name.errors?.required" class="text-danger">Name Required</small>
          <small *ngIf="name.errors?.minlength" class="text-danger">Name Must Be Minimum 4 Character</small>
        </div>  
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea 
                id="description" 
                rows="5" 
                cols="30" 
                class="form-control"
                pInputTextarea 
                autoResize="autoResize" 
                placeholder="Insert description heree"
                formControlName="description"
                [class.is-invalid]="description.invalid &&
                                    description.touched"></textarea>
        <div *ngIf="description.invalid && description.touched">
          <small *ngIf="description.errors?.required" class="text-danger">Description Required</small>
        </div>  
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="permission">Permission</label>
        <p-multiSelect 
                id="permision"
                [style]="{'width':'100%'}"
                [options]="permissionList" 
                optionLabel="permission_name" 
                [panelStyle]="{width: '100%'}" 
                [showHeader]="true" 
                formControlName="selectedPermission"
                [class.is-invalid]="selectedPermission.invalid &&
                                    selectedPermission.touched">
          </p-multiSelect>
          <div *ngIf="selectedPermission.invalid && selectedPermission.touched">
            <small *ngIf="selectedPermission.errors?.required" class="text-danger">Permission Required</small>
          </div>  
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button
                type="submit" 
                class="btn btn-icon icon-right btn-primary"
                [disabled]="!addRole.valid">
                <i class="far fa-save"></i> 
        Save</button>
      &nbsp;

      <a routerLink="/{{prefix}}/roles" class="btn btn-icon icon-right btn-light"><i class="fas fa-arrow-circle-left"></i> Cancel</a>
    </div>
</div>
</form>