.panjang{
    min-width: 300px;
}
.material-container {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

/* .role-description{
    height: 5em;
}
.permission-box{
    border: 1px solid#dee2e6;
    height: 250px;
    overflow: auto;
}

.permission-box-ul{
    padding-left: 10px;
    list-style-type: none; 
}

.permission-box-li{
    border-bottom: 1px solid #cecece;
    padding: 6px;
} */