<div class="section-header">
  <h1>Edit Role</h1>
</div>

<form [formGroup]="editRole" (ngSubmit)="updateRole()">
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" pInputText placeholder="Insert role name here..." class="form-control" formControlName="name">     
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea 
                id="description" 
                rows="5" 
                cols="30" 
                class="form-control"
                pInputTextarea 
                autoResize="autoResize" 
                placeholder="Insert description heree"
                formControlName="description"></textarea>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="permission">Permission</label>
        <p-multiSelect 
                id="permision"
                [style]="{'width':'100%'}"
                [options]="permissionList" 
                optionLabel="permission_name" 
                [panelStyle]="{width: '100%'}" 
                [showHeader]="true" 
                formControlName="selectedPermission">
          </p-multiSelect>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <button
              type="submit" 
              class="btn btn-icon icon-right btn-primary">
              <i class="far fa-save"></i> 
      Save</button>
    &nbsp;

    <a routerLink="/{{prefix}}/roles" class="btn btn-icon icon-right btn-light"><i class="fas fa-arrow-circle-left"></i> Cancel</a>
  </div>
</div>
</form>