<link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<div class="section-header">
  <h1>Policy List</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Policy List</a></div>
  </div>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          
        </div>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive">
              <table id="policyDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr class="text-center">
                    <th>ID</th>
                    <th>Policy Number</th>
                    <th>Agent</th>
                    <th>Premium</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


