<link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<div class="section-header">
  <h1>Permission Management</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Permission Management</a></div>
  </div>
</div>

<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Permission Management</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="permissionForm" (ngSubmit)="createPermission()">
          <input type="text" formControlName="id" class="hilang"/>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="permission_name">Permission Name <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="permission_name" 
                          pInputText 
                          class="form-control" 
                          formControlName="permission_name"
                          [class.is-invalid]="permission_name.invalid &&
                                              permission_name.touched">   
                  <div *ngIf="permission_name.invalid && permission_name.touched">
                    <small *ngIf="permission_name.errors?.required" class="text-danger">Permission Name Required</small>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Description <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="description" 
                          class="form-control" 
                          formControlName="description"
                          [class.is-invalid]="description.invalid &&
                                              description.touched">   
                  <div *ngIf="description.invalid && description.touched">
                    <small *ngIf="description.errors?.required" class="text-danger">Description Required</small>
                  </div>  
                </div>
            </div>
          </div>
          <div class="row text-right">
            <div class="col-md-12">
                <button
                        *ngIf="!edited"
                        type="submit" 
                        [disabled]="!permissionForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Save</button>
                <button
                        *ngIf="edited"
                        type="submit" 
                        [disabled]="!permissionForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Update</button>
              &nbsp;
          
              <a (click)="resetForm()" class="btn btn-icon icon-right btn-light"><i class="fas fa-backspace"></i> Cancel</a>
            </div>
          </div>
          </form>
          <div class="row mt-5">
            <div class="table-responsive">
              <table id="permissionDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>