<link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<div class="section-header">
  <h1>Master Relationship</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Master Relationship management</a></div>
  </div>
</div>

<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Relationship Management</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="relationshipForm" (ngSubmit)="createRelationship()">
          <input type="text" formControlName="id" class="hilang"/>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="relation_code">Relation Code <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="relation_code" 
                          pInputText 
                          class="form-control" 
                          formControlName="relation_code"
                          [class.is-invalid]="relation_code.invalid &&
                                              relation_code.touched">   
                  <div *ngIf="relation_code.invalid && relation_code.touched">
                    <small *ngIf="relation_code.errors?.required" class="text-danger">Relation Code Required</small>
                  </div>  
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="relation_name">Relation Name <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="relation_name" 
                          pInputText 
                          class="form-control" 
                          formControlName="relation_name"
                          [class.is-invalid]="relation_name.invalid &&
                                              relation_name.touched">   
                  <div *ngIf="relation_name.invalid && relation_name.touched">
                    <small *ngIf="relation_name.errors?.required" class="text-danger">Relation Name Required</small>
                  </div>  
                </div>
            </div>
          </div>
          <div class="row text-right">
            <div class="col-md-12">
                <button
                        *ngIf="!edited"
                        type="submit" 
                        [disabled]="!relationshipForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Save</button>
                <button
                        *ngIf="edited"
                        type="submit" 
                        [disabled]="!relationshipForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Update</button>
              &nbsp;
          
              <a (click)="resetForm()" class="btn btn-icon icon-right btn-light"><i class="fas fa-backspace"></i> Cancel</a>
            </div>
          </div>
          </form>
          <div class="row mt-5">
            <div class="table-responsive">
              <table id="relationshipDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Relation Code</th>
                    <th>Name</th>
                    <th>Update By</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>