<link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<div class="section-header">
  <h1>Master Currency</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Master Currency management</a></div>
  </div>
</div>

<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Currency Management</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="currencyForm" (ngSubmit)="createCurrency()">
          <input type="text" formControlName="id" class="hilang"/>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="code">Currency Code <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="code" 
                          pInputText 
                          class="form-control" 
                          formControlName="code"
                          [class.is-invalid]="code.invalid &&
                                              code.touched">   
                  <div *ngIf="code.invalid && code.touched">
                    <small *ngIf="code.errors?.required" class="text-danger">Currency Code Required</small>
                  </div>  
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="core_id">Core ID <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="core_id" 
                          pInputText 
                          class="form-control" 
                          formControlName="core_id"
                          [class.is-invalid]="core_id.invalid &&
                                              core_id.touched">   
                  <div *ngIf="core_id.invalid && core_id.touched">
                    <small *ngIf="core_id.errors?.required" class="text-danger">Core ID Required</small>
                  </div>  
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="name" 
                          pInputText 
                          class="form-control" 
                          formControlName="name"
                          [class.is-invalid]="name.invalid &&
                                              name.touched">   
                  <div *ngIf="name.invalid && name.touched">
                    <small *ngIf="name.errors?.required" class="text-danger">Name Required</small>
                  </div>  
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pattern">Pattern <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="pattern" 
                          pInputText 
                          class="form-control" 
                          formControlName="pattern"
                          [class.is-invalid]="pattern.invalid &&
                                              pattern.touched">   
                  <div *ngIf="pattern.invalid && pattern.touched">
                    <small *ngIf="pattern.errors?.required" class="text-danger">Pattern Required</small>
                  </div>  
                </div>
            </div>
          </div>
          <div class="row text-right">
            <div class="col-md-12">
                <button
                        *ngIf="!edited"
                        type="submit" 
                        [disabled]="!currencyForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Save</button>
                <button
                        *ngIf="edited"
                        type="submit" 
                        [disabled]="!currencyForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Update</button>
              &nbsp;
          
              <a (click)="resetForm()" class="btn btn-icon icon-right btn-light"><i class="fas fa-backspace"></i> Cancel</a>
            </div>
          </div>
          </form>
          <div class="row mt-5">
            <div class="table-responsive">
              <table id="currencyDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Core ID</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


