<div class="section-header">
  <h1>Job Class Mapping</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Job Class Mapping</a></div>
  </div>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Job Class Mapping Management</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive">
              <table id="productDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr class="text-center">
                    <th>ID</th>
                    <th>Plan Name</th>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Product Category</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>