<!-- <link rel="stylesheet" href="http://10.50.1.102:8080/avrist-ecommerce-admin/assets/modules/bootstrap/css/bootstraps.min.css">
<link rel="stylesheet" href="http://10.50.1.102:8080/avrist-ecommerce-admin/assets/css/style.css">
<link rel="stylesheet" href="http://10.50.1.102:8080/avrist-ecommerce-admin/assets/css/components.css"> -->

<!-- <link rel="stylesheet" href="http://10.50.1.71:8080/avrist-admin/assets/modules/bootstrap/css/bootstraps.min.css">
<link rel="stylesheet" href="http://10.50.1.71:8080/avrist-admin/assets/css/style.css">
<link rel="stylesheet" href="http://10.50.1.71:8080/avrist-admin/assets/css/components.css"> -->

<!-- <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstraps.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/components.css"> -->

<div id="app">
  <div class="main-wrapper main-wrapper-1">
    <app-navigate-top></app-navigate-top>
    <app-sidebar></app-sidebar>
    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
          <router-outlet></router-outlet>
      </section>
    </div>
    <app-footer></app-footer>
  </div>
</div>