<link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<div class="section-header">
  <h1>Renewal Recharge</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Renewal Recharge</a></div>
  </div>
</div>

<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Renewal Recharge Management</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="renewalRechargeForm" (ngSubmit)="createRenewalRecharge()">
          <input type="text" formControlName="id" class="hilang"/>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="name">Name <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="name" 
                          pInputText 
                          class="form-control" 
                          formControlName="name"
                          [class.is-invalid]="name.invalid &&
                                              name.touched">   
                  <div *ngIf="name.invalid && name.touched">
                    <small *ngIf="name.errors?.required" class="text-danger">Name Required</small>
                  </div>  
                </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="code">Code <sup class="text-danger">*</sup></label>
                  <input  type="text" 
                          id="code" 
                          pInputText 
                          class="form-control" 
                          formControlName="code"
                          [class.is-invalid]="code.invalid &&
                                              code.touched">   
                  <div *ngIf="code.invalid && code.touched">
                    <small *ngIf="code.errors?.required" class="text-danger">Code Required</small>
                  </div>  
                </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="day">Day <sup class="text-danger">*</sup></label>
                    <input  type="text" 
                            id="day" 
                            pInputText 
                            class="form-control" 
                            formControlName="day"
                            [class.is-invalid]="day.invalid &&
                                                day.touched"> 
                  <div *ngIf="day.invalid && day.touched">
                    <small *ngIf="day.errors?.required" class="text-danger">Day Required</small>
                  </div>  
                </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="max_attempt">Max Attempt <sup class="text-danger">*</sup></label>
                    <input  type="text" 
                            id="max_attempt" 
                            pInputText 
                            class="form-control" 
                            formControlName="max_attempt"
                            [class.is-invalid]="max_attempt.invalid &&
                                                max_attempt.touched"> 
                  <div *ngIf="max_attempt.invalid && max_attempt.touched">
                    <small *ngIf="max_attempt.errors?.required" class="text-danger">Max Attempt Required</small>
                  </div>  
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Description </label>
                <textarea 
                    id="description" 
                    rows="5" 
                    cols="30" 
                    class="form-control"
                    pInputTextarea 
                    autoResize="autoResize" 
                    placeholder="Insert description here"
                    formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row text-right">
            <div class="col-md-12">
                <button
                        *ngIf="!edited"
                        type="submit" 
                        [disabled]="!renewalRechargeForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Save</button>
                <button
                        *ngIf="edited"
                        type="submit" 
                        [disabled]="!renewalRechargeForm.valid"
                        class="btn btn-icon icon-right btn-primary">
                        <i class="far fa-save"></i> 
                Update</button>
              &nbsp;
          
              <a (click)="resetForm()" class="btn btn-icon icon-right btn-light"><i class="fas fa-backspace"></i> Cancel</a>
            </div>
          </div>
          </form>
          <div class="row mt-5">
            <div class="table-responsive">
              <table id="renewalRechargeDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Day</th>
                    <th>Max Attempt</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


