<link rel="stylesheet" href="/assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/modules/bootstrap-daterangepicker/daterangepicker.css">

<div class="section-header">
  <h1>Campaign Management</h1>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a routeLink="/">Dashboard</a></div>
    <div class="breadcrumb-item"><a>Campaign management</a></div>
  </div>
</div>

<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Add Campaign</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="formCampaign" (ngSubmit)="createCampaign()">
              <input type="text" formControlName="id" class="hilang"/>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="promo_name">Promo Name <sup class="text-danger">*</sup></label>
                        <input  type="text" 
                                id="promo_name" 
                                pInputText 
                                class="form-control" 
                                formControlName="promo_name"
                                [class.is-invalid]="promo_name.invalid &&
                                                    promo_name.touched">   
                        <div *ngIf="promo_name.invalid && promo_name.touched">
                          <small *ngIf="promo_name.errors?.required" class="text-danger">Promo Name Required</small>
                        </div>  
                    </div>
                    <div class="form-group">
                      <label for="promo_code">Promo Code <sup class="text-danger">*</sup></label>
                        <input  type="text" 
                                id="promo_code" 
                                pInputText 
                                class="form-control" 
                                formControlName="promo_code"
                                (keydown.space)="$event.preventDefault()"
                                [class.is-invalid]="promo_code.invalid &&
                                                    promo_code.touched">   
                        <div *ngIf="promo_code.invalid && promo_code.touched">
                          <small *ngIf="promo_code.errors?.required" class="text-danger">Promo Required</small>
                        </div>  
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="type">Type <sup class="text-danger">*</sup></label>
                      <select formControlName="type" 
                            class="form-control"
                            [class.is-invalid]="type.invalid &&
                                                type.touched">
                            <option value="" selected disabled>Choose Type</option>
                            <option value="percentage">Percentage</option>
                            <option value="value">Value</option>
                      </select>
                      <div *ngIf="type.invalid && type.touched">
                        <small *ngIf="type.errors?.required" class="text-danger">Type Required</small>
                      </div>  
                    </div>
                    <div class="form-group">
                      <label for="value">Value <sup class="text-danger">*</sup></label>
                        <input  type="text" 
                                id="value" 
                                pInputText 
                                class="form-control" 
                                formControlName="value"
                                [class.is-invalid]="value.invalid &&
                                                    value.touched" />   
                        <div *ngIf="value.invalid && value.touched">
                          <small *ngIf="value.errors?.required" class="text-danger">Value Required</small>
                        </div>  
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="campaign_date">Campaign Date <sup class="text-danger">*</sup></label>
                      <input  type="text"
                              autocomplete="off"
                              #date_campaign
                              id="campaign_date"
                              placeholder="Date Time"
                              class="form-control"
                              formControlName="campaign_date"
                              [minDate]="minDate"
                              bsDaterangepicker
                              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                              [class.is-invalid]="campaign_date.invalid &&
                                                  campaign_date.touched"/>
                      <div *ngIf="campaign_date.invalid && campaign_date.touched">
                        <small *ngIf="campaign_date.errors?.required" class="text-danger">Date Time Required</small>
                      </div>  
                    </div>
                    
                  </div>
                </div>
              <div class="row text-right">
                <div class="col-md-12">
                    <button
                            type="submit" 
                            class="btn btn-icon icon-right btn-primary">
                            <i class="far fa-save"></i> 
                    Save</button>
                  &nbsp;
              
                  <a (click)="resetForm()" class="btn btn-icon icon-right btn-light"><i class="fas fa-backspace"></i> Cancel</a>
                </div>
              </div>
              </form>
          <hr/>
          <div class="row mt-5">
            <div class="table-responsive">
              <table id="campaignDatatables" class="table table-striped dataTable no-footer">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Promo Name</th>
                    <th>Promo Code</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

